footer {
  background-color: #0D1117;
  padding: 50px 20px;
  text-align: center;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}



#contact h3 {
  color: #cbd5e1;
  margin-bottom: 10px;
}

#contact p {
  color: #cbd5e1;
  font-size: 14px;
  margin-top: 20px;

}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.container a {
  font-size: 30px;
  color: #cbd5e1;
  transition: color 0.3s;
}

.container a:hover {
  color: #6e5494;
}

