@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM sans', sans-serif;
  background-color: black;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar { 
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  height: 65px;
  color: bisque;
}
 .moon {
  size: 100px;
 }

 .moon:hover {
  cursor: pointer;
 }

.list {
  display: flex;
  position: relative;
  gap: 50px;
  margin-left: auto;
  list-style: none;
}

.list a {
  transition: 0.3s;
  padding: 5px 10px;
  text-decoration: none;
  color: bisque;
}

.list li:hover {
  cursor: pointer;
  box-shadow: inset 0 0 8px rgba(255, 253, 208, 0.8);
  border-radius: 5px;
  background-color: transparent;
}

#home {
  background-image: url('assets/aura.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px;
  height: 100vh;
  justify-content: center;
  text-align: center;

}

#home h1{
  color: bisque;
  font-size: 75px;
}








