@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


/*importing the css files*/
@import url('css/AboutMe.css');
@import url('css/Connect.css');
@import url('css/Projects.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color:#0D1117;
}

.navbar { 
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  height: 65px;
  color: white;
}
 .moon {
  font-size: 25px;
 }

 .moon:hover {
  cursor: pointer;
 }

.list {
  display: flex;
  position: relative;
  gap: 50px;
  margin-left: auto;
  list-style: none;
}

.list a {
  transition: 0.3s;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}

.list li:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
}

#home {
  background-image: url('assets/aura.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home h1{
  color: white;
  font-size: 75px;
}

#home p {
  padding-top: 30px;
  color: white;
  font-size: 20px;
}




